@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  background: url("../assets/images/home-background.png");
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #cdd6f4;
}

.text-container {
  background: #1e1e2e;
  padding: 25px;
  border-radius: 10px;
  border: solid;
  border-color: #cba6f7;
  border-width: 2px;
  color: #cba6f7;
  width: fit-content;
}

.text-container img {
  width: 50%;
  height: 0%;
  border-radius: 100%;
  border: solid;
  border-color: #cba6f7;
  border-width: 2px;
}

.text-container p,
.text-container li {
  font-size: medium;
  font-weight: 300;
}

.text-container h4 {
  font-size: larger;
}

.text-container h5 {
  font-size: large;
  font-weight: 500;
}

.display-1 {
  font-weight: 500;
}

.game-button {
  background-color: #1E1E2E;
  transition: background-color 0.3s ease;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #cba6f7;
  padding: 0;
  cursor: pointer;
}

.game-button:hover {
  background-color: #cba6f7;
}

.game-button a {
  color: #cba6f7;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 0;
}

.game-button:hover a {
  color: #1E1E2E;
}

.game-icon-button {
  width: 200px;
  height: 200px;
  display: block;
}

.game-icon-box {
  width: 60px;
  height: 60px;
  color: #9748F8;
}




