@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  background: url("../assets/images/home-background.png");
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--light-gray);
}

.text-container {
  background: var(--shadow-grey);
  padding: 25px;
  border-radius: 10px;
  border: var(--border-type);
  border-color: var(--light-purple);
  border-width: var(--border-widht);
  color: var(--light-purple);
  width: fit-content;
}

.text-container img {
  border-radius: var(--border-circle);
  border: var(--border-type);
  border-color: var(--light-purple);
  border-width: var(--border-widht);
  width: 225px;
}

.text-container p,
.text-container li {
  font-size: medium;
  font-weight: 300;
}

.text-container h4 {
  font-size: larger;
}

.text-container h5 {
  font-size: large;
  font-weight: 500;
}

.text-container-big-size {
  width: 90%;
  height: 0%;
}

.text-container-medium-size {
  width: 400px;
}

.display-1 {
  font-weight: 500;
}

.game-button {
  background-color: var(--shadow-grey);
  transition: var(--transition-background);
  border-radius: var(--border-circle);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-widht) var(--border-type) var(--light-purple);
  padding: 0;
  cursor: pointer;
}

.game-button:hover {
  background-color: var(--light-purple);
}

.game-button a {
  color: var(--light-purple);
  transition: var(--transition-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: var(--remove-decoration);
  line-height: 0;
}

.game-button:hover a {
  color: var(--shadow-grey);
}

.game-icon-button {
  width: 200px;
  height: 200px;
  display: block;
}

.game-icon-box {
  width: 60px;
  height: 60px;
  color: var(--dark-purple);
}