.home-page {
  background-image: url("../assets/images/home-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

:root.light .home-page {
  background-image: url("../assets/images/home-background-light.png");
}

.game-button {
  background-color: var(--shadow-grey);
  transition: var(--transition-background);
  border-radius: var(--border-circle);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) var(--border-type) var(--light-purple);
  padding: 0;
  cursor: pointer;
}

.game-button:hover {
  background-color: var(--light-purple);
}

.game-button a {
  color: var(--light-purple);
  transition: var(--transition-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: var(--remove-decoration);
  line-height: 0;
}

.game-button:hover a {
  color: var(--shadow-grey);
}

.game-icon-button {
  width: 200px;
  height: 200px;
  display: block;
}

.game-icon-box {
  width: 60px;
  height: 60px;
  color: var(--dark-purple);
}