.leaderboard-content-score {
  background: url("../assets/images/purpleLeafsBackground.png");
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

:root.light .leaderboard-content-score {
  background: url("../assets/images/sign-light.png");
  background-size: cover;
}

.leaderboard-content-score-value {
  text-align: left;
  margin-top : 10vh;
  color: var(--light-gray);
  font-size: 20px;
  padding: 20px;
  display: flex;
}

.leaderboard-content-score > .row > .col-12 {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
  padding: 0;
}

.leaderboard-content-score-yellowbox {
  flex: 1;
  background: #f4bf3a;
}
.leaderboard-content-stats-title {
  font-size: 25px;
  color: var(--light-gray);
  text-align: center;
  margin-top: 20px;
  padding-bottom: 60px;
}

.leaderboard-content-stats {
  display: flex;
  flex-direction: column;
}

.leaderboard-content-stats-user-Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}

.leaderboard-content-stats-user-name {
  text-align: left;
  display: flex;
  align-items: center;
  font-size : 30px;
}

.leaderboard-content-stats-list {
  margin-top: 20px;
  color: var(--light-gray);
}

.return {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.return a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1;
}

.return button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: yellowgreen;
  background: var(--ink-black);
  border: 1.5px var(--border-type) yellowgreen;
  border-radius: 10px;
  padding: 10px 28px;
  font-size: 1.1rem;
}

.return button:hover {
  text-decoration: none;
  color: black;
  background: yellowgreen;
  border: 1.5px var(--border-type) yellowgreen;
  padding: 10px 28px;
  font-size: 1.1rem;
}

.return a:hover {
  text-decoration: none;
  color: inherit;
}
