html,
body {
  font-family: var(--font);
  height: 100vh;
  color: var(--light-gray);
  background: none;
  background-color: var(--shadow-grey);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* fills area */
  object-position: center; /* controls crop focus */
}