.signin-page {
  background-color: var(--shadow-grey);
  height: 100vh;
  overflow: hidden;
}

.signin-container {
  height: calc(100vh - 60px);
  padding: 0;
}

.signin-row {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.signin-content-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  height: 100%;
}

.signin-image-col {
  padding: 0;
  margin: 0;
  background: url(../assets/images/sign-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.signin-background-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media (max-width: 992px) {
  .signin-page {
    background: url(../assets/images/sign-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .signin-image-col {
    display: none;
  }
}
@media (max-width: 576px) {
  .signin-content-col {
    padding: 10px;
  }
}
